:root {
  --primary-black: black;
  --primary-white: white;
  --primary-blue: #0290ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f5f6fa;
}

.hide {
  display: none;
}

.flex-row {
  display: flex;
  align-items: center;
}

.ff-Mont {
  font-family: 'Montserrat', sans-serif;
}

.ff-RobSlab {
  font-family: 'RobotoSlab', serif;
}

.fc-blue {
  color: var(--primary-blue);
}
