:root {
  --primary-black: black;
  --primary-gray: #706e6e;
  --primary-white: white;
  --primary-blue: #0290ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f5f6fa;
}

.w-100 {
  width: 100%;
}

.hide {
  display: none;
}

.flex-row {
  display: flex;
  align-items: center;
}

.ff-Mont {
  font-family: 'Montserrat', sans-serif;
}

.ff-RobSlab {
  font-family: 'Roboto Slab', serif;
}

.fc-white {
  color: var(--primary-white);
}

.fc-blue {
  color: var(--primary-blue);
}

.fw-300 {
  font-weight: 300;
}

.fc-gray {
  color: var(--primary-gray);
}

.bck-white {
  background-color: var(--primary-white);
}

.bck-blue {
  background-color: var(--primary-blue);
}

.brdr-gray {
  border: 0.5px solid rgba(128, 128, 128, 0.432);
}

.brdr-no {
  border: none;
}
